#card-item {
    height: 180px;
}

#card-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#quantity, #substract-product, #add-product {
    display: inline-block;
    background-color: var(--bs-blue);
    color: white;
    font-weight: 600;
    text-align: center;
    padding-top: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--bs-blue);
    position: relative;
    z-index: 9;
}

#quantity {
    top: 0;
}

#item-data {
    position: relative;
    top: -30px;
    z-index: 8;
}

#card-img {
    cursor: pointer;
}

#card-img img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

#substract-product {
    top: -105px;
    left: 130px;
    cursor: pointer;
}

#add-product {
    top: -105px;
    left: 150px;
    cursor: pointer;
}

#substract-product:hover, #add-product:hover {
    background-color: transparent;
    color: var(--bs-blue);
}

#card-img figcaption {
    width: 300px;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#card-trash {
    position: relative;
    left: 255px;
    top: -170px;
    cursor: pointer;
}

#trash {
    color: gray;
}

#trash:hover {
    color: red
}

#card-img span:nth-child(4) {
    margin-left: 220px;
    font-weight: 600;
}

#cart-total {
    padding: 8px 4px;
}

#cart-total span {
    font-size: 20px;
    font-weight: 600;
}

#cart-total span:nth-child(2) {
    margin-left: 230px;
}

#cart-checkout {
    width: 100%;
    padding: 10px 0;
}
